#back-inbox-btn
{
    margin-left: 30px;
    margin-top: 10px;
    background-color: rgb(95, 95, 95);
    color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 8px black;
    
}
#back-inbox-btn span
{
    font-size: 15px;
    top: 300px;
    font-family:cursive;
    
   
}
#back-inbox-btn:hover
{
    color: white;
    transform: scale(1.02);
    
}
#back-inbox-btn:active
{
    transform: scale(1);
}
#back-inbox-btn::before
{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #007bff;
    -webkit-transform: scaleY(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 1s;
    transition-duration: .7s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 20px;
    
}
#back-inbox-btn:hover::before
{
    -webkit-transform: scaleY(1);
  transform: scaleY(1);
  
  
}
#compose-body 
{
    margin-top: 15px;
    margin-left: 20px;
    
}


#compose-body .card-title
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    
}
#compose-body .card-header
{
    background-color: rgb(43, 43, 43);
    color: white;
}
