
body
{
    background: linear-gradient(-90deg, #b4aeae, #b3b3b3, #ffffff, #919090);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#forget-pass-section .card
{
    width:600px;
    height: 300px;
    margin:100px auto;
    background-color: rgba(241, 235, 227, 0.144);
    color: black;
    box-shadow: 0 0 12px white;

}
.card a
{
    color: black;
}
.login-box-msg
{
    text-align: center;
}
#forget-pass-section .card:hover
{
    box-shadow: 0 0 12px white;
}
