#bills-section
{
    border: 2px solid rgba(0, 0, 0, 0.212);
    border-radius: 30px;

}

#bills-section .row
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#bills-section .row:nth-child(1) h3
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    text-shadow: 0 0 4px rgb(100, 99, 99);
}

#bills-section .row:nth-child(2)
{
    text-align: center;
}
#bills-section .row:nth-child(2) table
{
    border: 2px solid rgb(211, 209, 209);
}
#bills-section .row:nth-child(2) a:hover
{
    transform: scale(1.1);
}


